@media only screen and (max-width: 1570px) {
    .bulletin{
        margin-top: 90px;
    }
    .bulletin .swiper{
        padding: 0;
    }
}
@media only screen and (max-width: 750px) {
    .bulletin{
        margin-top: 60px;
    }
}
@media only screen and (max-width: 430px) {
    .bulletin{
        margin-top: 56px;
    }
}