@media only screen and (max-width: 1570px) {
    .distance-learning{
        margin-top: 130px;
    }
    .video__name{
        width: 100%;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1400px) {
    .motivation__item {
        width: calc(33% - 46px);
        margin: 25px;
    }
    .motivation__item_name{
        margin-top: 5px;
    }
}
@media only screen and (max-width: 1300px) {
    .distance-learning{
        margin-top: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .motivation__cont{
        margin: 0;
    }
    .motivation__item{
        width: 33.3%;
        margin: 0;
    }
    .motivation__item > iframe{
        height: 200px;
    }
    .learning-guide{
        min-height: calc(100vh - 100px);
    }
}
@media only screen and (max-width: 1080px) {
    .distance-learning{
        margin-top: 90px;
    }
    .courses__btn{
        padding: 5px 40px;
    }
}
@media only screen and (max-width: 900px) {
    .video__name{
        font-size: 13px;
        line-height: 15px;
    }
    .videos__cont{
        margin: 0px -10px;
    }
    .swiper-pagination{
        padding: 0 20px;
    }
    .motivation__item > iframe{
        height: 140px;
    }
    .learning-video iframe{
        height: 300px !important;
    }
}
@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 750px) {
    .videos__item {
        width: calc(50% - 40px);
        margin: 20px;
    }
    .distance-learning{
        margin-top: 60px;
    }
    .courses__btns{
        margin-top: 20px;
        flex-direction: column;
    }
    .courses__btn:last-child{
        margin-top: 10px;
    }
    .courses__pdfs_item {
        margin: 0 30px;
    }
}
@media only screen and (max-width: 600px) {
    .motivation__item{
        width: 50%;
    }
    .materials__item{
        margin-top: 20px;
    }
    .material__title{
        margin-bottom: 10px;
    }
    .material__list_item{
        margin-top: 5px;
    }
    .learning-video iframe{
        height: 200px !important;
    }
}
@media only screen and (max-width: 450px) {
    .videos__cont {
        margin: 0px -5px;
    }
    .videos__item,
    .motivation__item{
        width: 100%;
    }
    .courses__pdfs_item {
        margin: 0 15px;
    }
}
@media only screen and (max-width: 430px) {
    .distance-learning{
        margin-top: 56px;
    }
    .learning-video iframe{
        height: 200px !important;
    }
}
