@media only screen and (max-width: 1025px) {
    .lecture-single{
        min-height: calc(100vh - 100px);
    }
}
@media only screen and (max-width: 1000px) {
    .lectures__img{
        width: 40%;
    }
    .lecture__inner{
        width: calc(60% - 30px);
    }
    .lecture__title{
        margin: 10px 0 10px 0;
    }
    .lectures__read-more__cont{
        margin-top: 15px;
    }
    .lecture__cont{
        margin-top: 30px;
    }
    .lecture-single_iframe{
        width: 100%;
    }
}
@media only screen and (max-width: 750px) {
    .lecture__bot {
        margin-right: 20px;
    }
    .lecture__read-more{
        font-size: 9px;
    }
    .lecture-single_iframe{
        height: 300px;
    }
}
@media only screen and (max-width: 500px) {
    .lecture{
        margin-bottom: 10px;
    }
    .lecture__inner {
        width: calc(60% - 15px);
    }
    .lecture__title{
        font-size: 10px;
        line-height: 12px;
    }
}