@media only screen and (max-width: 1570px) {
    .news__img{
        width: 35%;
    }
    .new__inner{
        width: calc(65% - 30px);
    }
    .news__home_cont{
        background-color: rgba(248, 237, 232, 0.8);
    }
    .news__home_title::before{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .new__date{
        font-size: 0.938rem;
        line-height: 0;
    }
    .new__title{
        font-size: 1.375rem;
        margin: 10px 0 20px 0;
        line-height: 25px;
    }
    .new__subtitle{
        font-size:1.125rem;
        line-height: 21px;
    }
}
@media only screen and (max-width: 1150px) {
    .news__home_title,
    .new-info__cont{
        margin: 0;
    }
    .news__home_title{
        font-size: 1.875rem;
        line-height: 35px;
    }
    .new-images__layer{
        font-size: 1.563rem;
    }
}
@media only screen and (max-width: 1000px) {
    .new{
        margin-bottom: 20px;
    }
    .new-top__imgs > .new-top__img{
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    .new__date{
        font-size: 0.75rem;
    }
    .new__title{
        font-size: 1.063rem;
        margin: 7px 0 11px 0;
        line-height: 19px;
    }
    .new__subtitle{
        font-size: 0.875rem;
        line-height: 16px;
    }
    .news__read-more__cont{
        margin-top: 15px
    }
    .news__home_title{
        font-size: 1.563rem;
        line-height: 30px;
        padding-right: 0;
    }
    .new-info__text{
        margin: 20px 0;
    }
}
@media only screen and (max-width: 750px) {
    .news__img{
        width: 40%;
    }
    .new__inner{
        width: calc(60% - 15px);
    }
    .new__date{
        font-size: 0.625rem;
    }
    .new__title{
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 16px;
    }
    .new__subtitle{
        font-size: 0.75rem;
        line-height: 13px;
    }
    .new__bot{
        margin-right: 50px;
    }
    .news__home_title{
        font-size: 1.25rem;
        line-height: 25px;
        letter-spacing: 2px;
        padding: 6px 0;
    }
    .new-info__cont_date{
        font-size: 1rem;
    }
    .new-images__bot{
        margin-top: 25px;
    }
    .new-images__layer{
        font-size: 0.938rem;
    }
}
@media only screen and (max-width: 500px) {
    .new{
        margin-bottom: 0px;
    }
    .news__pagination{
        margin-top: 20px;
    }
    .new__inner{
        line-height: 0;
    }
    .new__date{
        font-size: 0.563rem;
    }
    .new__title{
        font-size: 0.75rem;
        line-height: 15px;
    }
    .new__subtitle{
        font-size: 0.625rem;
        line-height: 11px;
    }
    .new__read-more{
        font-size: 0.5rem;
    }
    .new-info__text{
        margin: 10px 0;
    }
    .new-info__cont_date {
        font-size: 0.875rem;
    }
    .news__home_title{
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 1px;
        padding: 5px 0;
    }
    .new-bot__img{
        width: 33%;
    }
    .new-bot__img:last-child{
        display: none;
    }
}
@media only screen and (max-width: 430px) {
    .news__section{
        margin-top: 56px;
    }
    .new{
        padding: 5px;
    }
    .new__inner {
        width: calc(60% - 7px);
    }
    .new__date{
        font-size: 0.438rem;
    }
    .new__title{
        font-size: 0.625rem;
        line-height: 13px;
        margin: 5px 0;
    }
    .new__subtitle{
        font-size: 0.5rem;
        line-height: 10px;
    }
    .new__read-more{
        font-size: 0.438rem;
    }
    .new__bot{
        margin-right: 30px;
    }
    .news__home_title{
        font-size: 0.875rem;
        letter-spacing: 0px;
    }
}
