@media only screen and (max-width: 1570px) {
    .search{
        margin-top: 90px;
        min-height: calc(100vh - 168px);
    }
}
@media only screen and (max-width: 750px) {
    .search{
        margin-top: 60px;
        min-height: calc(100vh - 138px);
    }
}
@media only screen and (max-width: 430px) {
    .search{
        margin-top: 58px;
        min-height: calc(100vh - 136px);
    }
}