.governing__dates{
    background-color: var(--section);
    padding: 50px 0;
    border-top: 1px solid var(--dark-yellow);
    border-bottom: 1px solid var(--dark-yellow);
}
.governing__date_items{
    flex-wrap: wrap;
}
.governing__date{
    width: 25%;
    margin: 5px 0;
}
.members__title{
    text-transform: uppercase;
    margin-bottom: 50px;
}
.members__items{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}
.members__item{
    width: calc(25% - 30px);
    margin: 15px;
    position: relative;
}
.members__item:hover .members__item_cont{
    opacity: 1;
}
.members__item_cont{
    width: 100%;
    height: 100%;
    /*background-color: rgba(100, 58, 34, 0.26);*/
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /*position: absolute;*/
    color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    opacity: 1;
    transition: opacity ease .3s;
    -webkit-transition: opacity ease .3s;
    -moz-transition: opacity ease .3s;
    -ms-transition: opacity ease .3s;
    -o-transition: opacity ease .3s;
}
.member__title{
    /*color: var(--white);*/
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.member__subtitle{
    /*color: var(--white);*/
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.about__dates{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*
member
*/

.member__cont{
    position: relative;
}
.member__cont strong {
    font-weight: bold !important;
}
.member__name{
    color: var(--brown);
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-right: 20px;
}
.member__position{
    margin-top: 10px;
    padding-right: 20px;
}
.member__info{
    width: 80%;
}
/*.member__info strong{*/
/*    color: var(--brown);*/
/*    font-size: 18px;*/
/*    font-weight: 700;*/
/*    letter-spacing: 2px;*/
/*    line-height: 35px;*/
/*}*/
/*.member__info li,*/
/*.member__info h4{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    margin-top: 20px;*/
/*}*/
/*.member__info li p:last-child{*/
/*    width: calc(100% - 180px);*/
/*    padding-left: 10px;*/
/*}*/
/*.member__info li p:last-child,*/
/*.member__info h4{*/
/*    color: var(--brown);*/
/*    font-size: 18px;*/
/*    line-height: 35px;*/
/*}*/
.member__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    height: 200px;
}
/*.member__info li p:first-child{*/
/*    color: var(--brown);*/
/*    width: 180px;*/
/*    font-size: 16px;*/
/*    font-weight: 700;*/
/*    line-height: 35px;*/
/*}*/
.biography__imgs{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.biography__img{
    height: 100%;
    padding: 10px;
}
.biography__img img{
    height: 100%;
    display: block;
}

/*
rector
*/

.rector__inner{
    margin-top: 30px;
}
.rector__bot{
    width: 100%;
    border-top: 1px solid var(--dark-yellow);
}
.rector__bot_cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about__link{
    text-transform: uppercase;
}
.about__link,
.report__link{
    color: var(--dark-brown);
    font-weight: 700;
    padding: 0 8px;
    border: 1px solid transparent;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.about__link:hover,
.about__link-active,
.report__link:hover{
    border: 1px solid var(--dark-yellow);
    background-color: var(--pink);
}
.report__link{
    color: var(--brown);
    text-transform: uppercase;
}
.date-12{
    width: 12.5%;
}

/*
admission
*/

.admission__cont{
    background-color: var(--section);
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*
graduates
*/

.swiper{
    padding-top: 20px;
}
.graduates__item{
    margin-top: 20px;
}
.graduates__item:first-child{
    margin-top: 0;
}
.graduates__title{
    margin-bottom: 20px;
}
.graduate__item,
.graduate-profession__item{
    width: calc(20% - 20px);
    position: relative;
}
.graduate__item:hover .members__item_cont,
.graduate-profession__item:hover .members__item_cont{
    opacity: 1;
}
.members__item_count{
    display: flex;
    justify-content: center;
    align-items: center;
}
.members__item_count > span{
    /*color: var(--white);*/
    font-size: 40px;
    font-weight: 700;
}

.graduates-profession{
    min-height: calc(100vh - 200px);
}
.graduates-profession__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
}
.graduates-profession__title{
    color: var(--light-brown);
    font-style: italic;
}
.graduate-profession__item{
    margin: 10px;
}

/*
structure
*/

.structure{
    width: 100%;
    background-color: var(--section);
    padding: 30px 0;
}
.structure__cont{
    position: relative;
    display: flex;
    justify-content: center;
}
.structure__img{
    margin: 95px 0;
}
.structure__btn{
    color: var(--light-brown);
    height: 95px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 90px;
    border: 2px solid var(--dark-yellow);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.structure__btn:hover{
    background-color: var(--pink);
    border: 2px solid var(--brown);
}
.structure__span{
    width: 100%;
    line-height: 25px;
    display: inline-block;
    transition: transform ease .3s;
    -webkit-transition: transform ease .3s;
    -moz-transition: transform ease .3s;
    -ms-transition: transform ease .3s;
    -o-transition: transform ease .3s;
}
.structure__btn:hover .structure__span{
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}
.structure__governing-board,
.structure__rector{
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.structure__rector{
    top: 130px;
}
.structure__mid_link{
    width: 295px;
    font-size: 20px;
    padding: 13px 72px;
    text-align: center;
    padding: 0;
}
.structure__small_link-left,
.structure__small_link-center,
.structure__small_link-right{
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    text-align: center;
}
.structure__small_link-left{
    width: 435px;
    left: 0;
}
.structure__small_link-center{
    width: 235px;
    left: 620px;
    padding: 0;
}
.structure__small_link-right{
    width: 415px;
    padding: 0;
    right: 0;
}
.structure__advisor{
    top: 340px;
    left: 50px;
}
.structure__vice-rector{
    top: 300px;
    left: 440px;
}
.structure__chief{
    top: 300px;
    left: 805px;
}
.structure__it{
    top: 340px;
    right: 55px;
}
.structure__scientific-research{
    top: 575px;
}
.structure__judiciary{
    top: 795px;
}
.structure__prosecutorial{
    bottom: 60px;
}
.structure__bulletin{
    top: 460px;
}
.structure__library{
    top: 670px;
}
.structure__publishing{
    bottom: 170px;
}
.structure__finance{
    top: 480px;
}
.structure__cooperation{
    top: 610px;
}
.structure__staff{
    top: 740px;
}
.structure__tehchnic{
    top: 870px;
}
.structure__hotel{
    bottom: 50px;
}

/*
gallery
*/

.gallery__dates{
    width: 85%;
}
.gallery{
    min-height: calc(100vh - 300px);
}
.gallery__cont{
    justify-content: center;
    flex-wrap: wrap;
}
.gallery_video{
    align-items: flex-start;
}
.gallery__item,
.gallery-video__item{
    width: calc(33% - 70px);
    flex-direction: column;
    margin: 25px;
}
.gallery-video__item iframe{
    height: 290px;
    width: 100%;
}
.gallery__top{
    display: block;
    overflow: hidden;
}
.gallery__top:hover .gallery__img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.gallery__img{
    transition: transform ease .3s;
    -webkit-transition: transform ease .3s;
    -moz-transition: transform ease .3s;
    -ms-transition: transform ease .3s;
    -o-transition: transform ease .3s;
}
.gallery__date,
.mass-media__link-site{
    font-weight: 700;
}
.gallery__top{
    width: 100%;
    max-height: 250px;
}

/*
mass media
*/

.mass-media__item{
    margin-top: 60px;
}
.mass-media__item:first-child{
    margin-top: 0;
}
.mass-media__list_item{
    margin-top: 30px;
}
.mass-media__link{
    color: var(--light-brown);
    display: block;
    text-decoration: underline;
}
