/*
contacts
*/

.contacts{
    margin-top: 150px;
}
.contacts__top{
    align-items: flex-start;
}
.contacts__map{
    margin-bottom: 40px;
}
.contacts__map > iframe{
    width: 100%;
    height: 450px;
    display: block;
}
.contacts__block,
.staff__block_item{
    width: calc(50% - 70px);
}
.contacts__title{
    text-transform: uppercase;
    color: var(--dark-brown)
}
.contacts__item{
    margin-top: 30px;
}
.contacts__about{
    margin-top: 15px;
}
.contacts__about_name{
    width: 120px;
    display: inline-block;
    font-weight: 700;
}
.contacts__form_inps{
    margin-top: 23px;
}
.contacts__inp{
    width: 100%;
    background-color: transparent;
    color: var(--dark-yellow);
    border: 1px solid var(--light-brown);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}
.contacts__inp-top{
    width: calc(50% - 10px);
}
.contacts__inp:focus{
    outline: none;
}
.contacts__textarea{
    height: 300px;
}
.contacts__btn{
    color: var(--section);
    background-color: var(--dark-brown);
    padding: 2px 20px;
    cursor: pointer;
    border: none;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}
.contacts__btn_span{
    display: block;
    transition: transform ease .3s;
    -webkit-transition: transform ease .3s;
    -moz-transition: transform ease .3s;
    -ms-transition: transform ease .3s;
    -o-transition: transform ease .3s;
}
.contacts__btn:hover .contacts__btn_span{
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}
.success{
    color: #28a745;
}

/*
staff
*/

.staff{
    border-top: 1px solid var(--dark-yellow);
}
.staff__cont{
    flex-wrap: wrap;
}
.staff__block_item{
    margin-top: 50px;
}
.staff__item_bold{
    font-weight: 700;
}
.staff__item_bot{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.staff__item_bold,
.staff__item_info{
    line-height: 1.563rem;
}
