/*
videos
*/

.distance-learning{
    margin-top: 175px;
    min-height: calc(100vh - 250px);
}
.videos__cont{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 -20px;
}
.videos__item{
    flex-direction: column;
    width: calc(33% - 60px);
    margin: 30px;
}
.videos__video{
    width: 100%;
}
.video__name{
    width: 70%;
    text-align: center;
    font-weight: 700;
    line-height: 25px;
    margin-top: 10px;
}

/*
courses
*/

.courses__triangle{
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid var(--pink);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.rector__bot {
    width: 100%;
    border-top: 1px solid var(--dark-yellow);
}
.rector__bot_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about__link{
    color: var(--dark-yellow);
    font-weight: 700;
    padding: 0 8px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.about__link:hover,
.about__link-active{
    border: 1px solid var(--dark-yellow);
    background-color: var(--pink);
}
.courses__btns{
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}
.courses__btn{
    background-color: var(--pink);
    color: var(--brown);
    padding: 10px 65px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    transition: background-color ease .3s;
    -webkit-transition: background-color ease .3s;
    -moz-transition: background-color ease .3s;
    -ms-transition: background-color ease .3s;
    -o-transition: background-color ease .3s;
}
.courses__btn:hover{
    background-color: var(--section);
}
.courses__pdfs{
    border-top: 1px solid var(--dark-yellow);
}
.courses__icon{
    color: var(--brown);
    margin-right: 10px;
}

/*
motivation
*/

.motivation__cont{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -25px;
}
.motivation__item{
    width: calc(33% - 96px);
    margin: 50px;
    padding: 15px;
    flex-direction: column;
    transition: background-color ease .3s;
    -webkit-transition: background-color ease .3s;
    -moz-transition: background-color ease .3s;
    -ms-transition: background-color ease .3s;
    -o-transition: background-color ease .3s;
}
.motivation__item:hover{
    background-color: var(--pink);
}
.motivation__item > iframe{
    width: 100%;
    height: 240px;
}
.motivation__item_name{
    margin-top: 15px;
    font-weight: 700;
}

/*
media materials
*/

.materials__item{
    margin-top: 35px;
}
.materials__item:first-child{
    margin-top: 0;
}
.material__title{
    font-weight: 700;
    margin-bottom: 20px;
}
.material__list_item{
    margin-top: 10px;
}

/*
learning-guide
*/

.learning-guide{
    min-height: calc(100vh - 200px);
}
.learning-guide__title{
    text-align: center;
    text-transform: uppercase;
}
.learning-guide__cont{
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

/*
learning video
*/

.learning-video iframe{
    width: 100% !important;
    height: 500px !important;
}