/*
video lectures
*/

.lectures__cont{
    width: 100%;
    flex-direction: column;
}
.lecture{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 60px;
    padding: 10px;
    transition: background-color ease .3s;
    -webkit-transition: background-color ease .3s;
    -moz-transition: background-color ease .3s;
    -ms-transition: background-color ease .3s;
    -o-transition: background-color ease .3s;
}
.lecture:hover{
    background-color: var(--pink);
}
.lecture:hover .read-more__arrow{
    opacity: 1;
    left: 105%;
}
.lectures__img{
    width: 32%;
    height: 250px;
    overflow: hidden;
}
.lectures__img > iframe,
.lectures__img > video{
    height: 100%;
    width: 100%;
    display: block;
}
.lecture__inner{
    width: calc(68% - 30px);
    position: relative;
}
.lecture__title{
    letter-spacing: 1px;
    margin: 10px 0 30px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lecture__strong{
    font-weight: 700;
}
.lecture__bot{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.lecture__read-more{
    font-size: 18px;
}

/*
video lectures single
*/

.lecture-single{
    min-height: calc(100vh - 400px);
}
.lecture__cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lecture__cont > iframe,
.lecture__cont > video{
    width: 70%;
    height: 500px;
}