/*
news
*/

.news__section{
    margin-top: 60px;
    min-height: calc(100vh - 120px);
}
.news__cont{
    width: 100%;
    flex-direction: column;
}
.new{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 60px;
    padding: 10px;
    transition: background-color ease .3s;
    -webkit-transition: background-color ease .3s;
    -moz-transition: background-color ease .3s;
    -ms-transition: background-color ease .3s;
    -o-transition: background-color ease .3s;
}
.new:hover{
    background-color: var(--pink);
}
.news__img{
    width: 28%;
    overflow: hidden;
}
.new__inner{
    width: calc(72% - 30px);
    position: relative;
}
.new__date{
    color: var(--dark-brown)
}
.new__title{
    color: var(--dark-brown);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 30px 0;
    line-height: 2.188rem;
}
.new__subtitle{
    display: block;
    color: var(--brown);
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.new__subtitle-content ~a {
    color: var(--brown);
}

.new__title,
.new__subtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.new__bot{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.new__read-more{
    font-size: 1.125rem;
}
.new-images__top .swiper{
    padding: 0;
    max-height: 16.25rem;
}

/*
new single
*/

.news__home{
    width: 100%;
    height: 100vh;
    background: center center no-repeat;
    background-size: cover;
    position: relative;
}
.news__home_cont{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.news__home_title::before{
    content: "";
    width: 200%;
    height: 100%;
    background-color: var(--pink);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    opacity: 0.8;
}
.news__home_title{
    position: relative;
    color: var(--brown);
    font-size: 2.188rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 50px;
    text-shadow: 0px 0px 6px rgba(100,58,34,0.3);
    padding: 15px 30px 15px 0;
    margin-left: 100px;
}

/*
new info
*/

.new-info{
    width: 100%;
    background-color: var(--section);
    padding: 15px 0;
}
.new-info__cont{
    margin-left: 100px;
}
.new-info__cont_date{
    color: var(--light-brown);
    font-size:1.5rem;
    font-style: italic;
}
.new-info__text{
    margin: 40px 0;
}
.new-top__imgs{
    width: 100%;
    display: flex;
}
.new-top__imgs:first-child {
    justify-content: end;
}
.new-top__imgs:last-child {
    justify-content: start;
}
.new-top__imgs > .new-top__img{
    width: 50%;
}
.new-top__img{
    width: 100%;
}
.new-images{
    background-color: var(--section);
}
.new-images__bot{
    margin-top: 50px;
    position: relative;
}
.new-bot__img{
    width: calc(25% - 5px);
}
.new-images__layer{
    content: "";
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: #ffffff69;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem;
    font-weight: 700;
    z-index: 1;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.new-images__bot:hover .new-images__layer{
    background-color: #ffffff94;
    color: var(--brown);
}

.mx-auto{
    margin: auto;
}
.swiper-button-next{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 0;
}
.swiper-button-prev{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0
}
.swiper__arrow{
    height: 70px;
    width: 70px;
    color: #f2f2f2;
}
.swiper__arrow:hover{
    background-color: #71717185;
}
.mx-2{
    margin: 0 10px 0 10px;
}
