/*
partners
*/

.partners{
    margin-top: 150px;
    /*min-height: 100vh;*/
}
.partners__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.partners__title{
    color: var(--brown);
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.partners__items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.partner__item{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    margin-bottom: 50px;
}
.partner__img{
    transition: transform ease .3s;
    -webkit-transition: transform ease .3s;
    -moz-transition: transform ease .3s;
    -ms-transition: transform ease .3s;
    -o-transition: transform ease .3s;
}
.partner__item:hover .partner__img{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}
.partner__item:hover .partner__name{
    opacity: 1;
}
.partner__name{
    width: calc(100% + 140px);
    margin: 20px 0 0 -70px;
    color: var(--brown);
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity ease .3s;
    -webkit-transition: opacity ease .3s;
    -moz-transition: opacity ease .3s;
    -ms-transition: opacity ease .3s;
    -o-transition: opacity ease .3s;
}

/*
partner
*/

.partner{
    padding-top: 70px;
    margin-top: 105px;
    min-height: calc(100vh - 250px);
}
.partner__top{
    justify-content: flex-start;
}
.partner-single__name{
    margin: 0 0 0 30px !important;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.partner__info{
    margin-top: 40px;
}
.partner__info > p{
    color: var(--brown);
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}
.partner__info strong{
    font-weight: 700;
    font-size: 21px;
}
.partners__bot{
    border-top: 1px solid var(--dark-yellow);
}
.about__link{
    text-transform: uppercase;
    color: var(--dark-yellow);
    font-weight: 700;
    padding: 0 8px;
    border: 1px solid transparent;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.about__link:hover{
    border: 1px solid var(--dark-yellow);
    background-color: var(--pink);
}
