:root{
    --white: #ffffff;
    --black: #000000;
    --pink: #F8EDE8;
    --brown: #31221A;
    --dark-brown: #55331F;
    --light-brown: #AF521D;
    --dark-yellow: #C9B695;
    --section: #F7F7F7;
    --admin-active: #DDCDB8;
    --pdf-link:#FBF3EF;
    --header-backgrorund: #ffffff
}

[data-theme='dark'] {
    --white: #121212;
    --black: #ffffff;
    --pink: #C9B695;
    --brown: #FFFFFF;
    --dark-brown: #cd6b3f;
    --light-brown: #AF521D;
    --dark-yellow: #C9B695;
    --section: #121212;
    --admin-active: #DDCDB8;
    --pdf-link:#AF521D;
    --header-backgrorund: linear-gradient(
        0deg,
        rgba(18, 18, 18, 1) 0%,       /* #121212 - start */
        rgba(18, 18, 18, 1) 20%,      /* Keep #121212 for a larger portion */
        rgba(24, 24, 24, 1) 40%,      /* Slightly lighter dark */
        rgba(30, 30, 30, 1) 60%,      /* Midway point */
        rgba(24, 24, 24, 1) 80%,      /* Slightly lighter dark */
        rgba(18, 18, 18, 1) 100%      /* End with #121212 */
    );

}
*::selection {
    background-color: var(--brown);
    color: var(--white);
}
